@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
    
body {
  margin: 0;
  border: 0;
  padding: 0;
  color: #e8e8e8;
  font-size: 10px;
  font-family: "Roboto Mono";
  background-color: #0e2028;
}

a {
  color: hotpink;
  text-decoration: none;
}

.main {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 640px;
  height: 100%;
  background-color: #0f2833;
  #background: radial-gradient(#133342, #0f2833 50%);
}

.logo-body {
  z-index: 11;
  position: absolute;
  top: 135px;
  left: 0;
  width: 100%;
  #height: 130px;
  border-bottom: 1px dashed #e8e8e8;
}

.logo-text {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: inherit;
}

.logo-small-text {
  display: none;
  top: 30px;
  left: 13px;
}

.logo-cat {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  background-color: inherit;
  text-align: right;
  
}

.logo-info {
  z-index: -2;
  position: absolute;
  display: none;
  top: 50px;
  right: 10px;
  text-align: right;
  #border: 1px 1px;
  #border-style: double;
  #border-color: #666666;
}

.logo-bowtie {
  z-index: 10;
  position: absolute;
  top: 13px;
  left: 12px;
  color: hotpink;
  font-size: 16px;
}

.content {
  position: absolute;
  top: 140px;
  left: 0px;
  padding: 10px;
  font-size: 12px;
  text-align: justify;
  animation-duration: 2s;
  animation-name: miracle;
}

#canvas {
  float: left;
  color: white;
  padding-right: 10px;
}

@keyframes miracle {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}

@media screen and (orientation: portrait), screen and (max-width: 640px) {
  .main {
    width: 100%;
  }
  .logo-text {
    display: none;
  }
  .logo-small-text {
    display: block; 
  }

}